{% extends 'home.html' %}

{% block subtitle %} Hardware item borrow page {%endblock%}

{% block content %}
<style>
#video {
    border: 1px solid black;
    width: 100%; /* o 640px, según lo que quieras mostrar */
    max-width: 640px;
    display: block;
    margin: 0 auto; /* Centrar el video */
}
#canvas {
    border: 1px solid red;
    width: 100%;
    max-width: 640px;
    display: block;
}
</style>
<div class="container-panel">
    <h1 class="container-panel-header">Hardware item borrow</h1>
    <br>
    <div id="ok" class="button-green" style="display:none;">
        <a> Borrowed successfully!</a>
    </div>
    <div id="badRequest" class="button" style="display:none;">
        <a> Scanning error, try again!</a>
    </div>
    <div id="unauthorized" class="button-red" style="display:none;">
        <a> Error, you are unauthorized to borrow hardware</a>
    </div>
    <div id="forbidden" class="button-red" style="display:none;">
        <a> Error, you are unauthorized to borrow hardware</a>
    </div>
    <div id="notFound" class="button-red" style="display:none;">
        <a> Error, team, participant or hardware item not found</a>
    </div>
    <div id="conflict" class="button" style="display:none;">
        <a> You have already borrowed this item</a>
    </div>
    <div id="unexpected" class="button-red" style="display:none;">
        <a> Unknown error</a>
    </div>

    <video id="video" autoplay style="width:300px; border:1px solid black;"></video>

    <form id="qrForm" action="/tu-endpoint" method="GET">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" id="qrResult" name="qrResult" />
    </form>
    
</div>
<script>
    const video = document.getElementById('video');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d', { willReadFrequently: true });
    const csrftoken = '{{ csrf_token }}';

    let scanningEnabled;

    function reset() {
        scanningEnabled = true;
        document.getElementById('ok').style.display = 'none';
        document.getElementById('badRequest').style.display = 'none';
        document.getElementById('unauthorized').style.display = 'none';
        document.getElementById('forbidden').style.display = 'none';
        document.getElementById('notFound').style.display = 'none';
        document.getElementById('conflict').style.display = 'none';
        document.getElementById('unexpected').style.display = 'none';
    }

    reset(); // Initialize scanningEnabled

    navigator.mediaDevices.getUserMedia({
        video: {
            facingMode: "environment",
            width: { ideal: 640 },
            height: { ideal: 640 }
        }
    })
    .then(stream => {
        video.srcObject = stream;
        video.play();
        tick();
    })
    .catch(err => {
        alert("Error accediendo a la cámara: " + err);
    });

    function tick() {
        if (!scanningEnabled) {
            // If scannin is stopped, just wait until it is enabled again
            setTimeout(tick, 200);
            return;
        }

        if (video.readyState === video.HAVE_ENOUGH_DATA) {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
            const code = jsQR(imageData.data, imageData.width, imageData.height);

            if (code) {
                reset();
                scanningEnabled = false; //Stop the scan
                // Send the QR code data to the server
                fetch("{{ request.path|escapejs }}", {
                    method: "POST",
                    headers: { "Content-Type": "application/json", 'X-CSRFToken': csrftoken},
                    body: JSON.stringify({ qrResult: code.data })
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById('ok').style.display = 'block';

                    } else if (response.status === 400) {
                        document.getElementById('badRequest').style.display = 'block';

                    } else if (response.status === 401) {
                        document.getElementById('unauthorized').style.display = 'block';

                    } else if (response.status === 403) {
                        document.getElementById('forbidden').style.display = 'block';

                    } else if (response.status === 404) {
                        document.getElementById('notFound').style.display = 'block';

                    } else if (response.status === 409) {
                        document.getElementById('conflict').style.display = 'block';

                    } else {
                        document.getElementById('unexpected').style.display = 'block';
                    }
                })
                .catch(error => {
                    console.error("Error en el envío del QR:", error);
                });

                //scanning is stopped for 3 seconds
                setTimeout(() => {
                    reset();
                }, 5000);
            }
        }

        setTimeout(tick, 200);
    }
</script>

{% endblock %}