{% extends 'home.html' %}

{% block subtitle %} Warehouses page{%endblock%}

{% block content %}
<div class="container-panel">
    <h1 class="container-panel-header">Warehouses</h1>
    <a class="button-green" href="{{ request.path }}create/">Add warehouse</a>
    <br>
    <br>
    <form action="" method="get" class="form" id="updateForm">
        <class class="from-label">Enter a name to search for</class>
        <input class="form-input" type="text" id="search" name="search" placeholder="Example: HackUPCwarehouse" />
        <button class="button" type="submit">Search</button>
    </form>
    <br>
    {% for warehouse in warehouses%}
        <div class="list-item" id="warehouse {{warehouse.id}}">
            <a class="list-item-text" href="{{request.path}}{{warehouse.id}}/">{{warehouse.name}}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}