{% extends 'home.html' %}

{% block subtitle %} Activitites page{%endblock%}

{% block content %}
<div class="container-panel">
    <h1 class="container-panel-header">Activitites</h1>
    <div><a class="button-green" href="{{ request.path }}create/">Create one!</a></div>
    <br>
    <form action="" method="get" class="form" id="updateForm">
        <class class="from-label">Enter a name or id to search for</class>
        <input class="form-input" type="text" id="search" name="search" placeholder="Example: Dodgeball 0000-00000000-0000" />
        <button class="button" type="submit">Search</button>
    </form>
    <br>
    {% for activity in activities %}
        <div class="list-item" id="activity {{activity.id}}">
            <a class="list-item-text" href="{{request.path}}{{activity.id}}/">{{activity.name}}<a class="list-item-text-little">&nbsp;({{activity.start_date}} - {{activity.end_date}})</a></a>
        </div>
    {% endfor %}
</div>
{% endblock %}