{%load static%}
<head>
    <meta charset="UTF-8">
    <title>{% block full_title %}{{ app_name }} | {% block subtitle %}{% endblock %}{% endblock %}</title>
    <meta name="apple-mobile-web-app-title" content="{{ app_name }}">
    <meta name="application-name" content="{{ app_name }}">
    <meta name="author" content="{{ app_author }}">
    <meta name="description" content="{{ app_description }}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.js"></script>
    {% include 'components/imports.html' %}

    {% include 'components/favicon.html' %}
</head>